# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencias
**/node_modules/

# Otros
**/build/
**/dist/
**/.next/
**/.nuxt/
**/.output/
**/.cache/
**/coverage/
**/.turbo/
